<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Спортивное питание</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Sintony:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<header id="header" class="header">
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<img src="img/logo2.png" alt="Luxury Restaurant">
					</div>
					<div class="col-lg-4">
						<nav>
							<ul class="menu d-flex justify-content-between">
								<li class="menu__item">
									<a href="#">
										О нас
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Товары
									</a>
								</li>
								
								<li class="menu__item">
									<a href="#">
										Контакты
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3">
						<button class="order-btn book cta d-flex justify-content-center">
							<span class="book__icon"></span>
							Закажите сейчас
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<h1 class="title__heading">
								Прокачай себя
							</h1>
							<p class="title__desc">
								и 
								<span>
									своё тело.
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="call" class="call">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<div class="phone d-flex ml-auto mr-auto">
						<div class="phone__text">
							Телефон
							<span class="yellow">
								Доставки
							</span>
						</div>
						<div class="phone__digits">
							8 (926) 7919989
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
						<h2 class="history__title">
							О нас
						</h2>
						<p class="history__text">
							Мы - команда профессионалов, работающая с 2002 года. Наша клиентская база сосатвляет более 100000 человек по всему миру. Мировые бренды спортивного питания являются нашими партнерами и готовы предоставлять вам свою лучшую продукцию. 
						</p>
						<a href="#" class="cta history__button">
							Узнать больше
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<img src="img/sport1.jpg" alt="Sport1" class="food-images__item">
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section id="special" class="special">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h2 class="special-title">
						Товары
					</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo1.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							Syntrax Matrix
						</h3>
						<p class="food__desc">
							Syntrax Matrix модно назвать трехкомпонентным протеиновым комплексом, включающим такие высококачественные источники белка как, сывороточный протеин, мицеллярный казеин и яичный альбумин (из яичного белка). Использование нескольких источников белка вместо одного, обуславливается наличием сильных и слабых сторон каждого источника. Конечно, по отдельности они равнозначны, действия и на общее состояние здоровья организма и на рост мышечных тканей, однако, различия также существенны.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								76 порций
							</div>
							<div class="food__price yellow ml-auto">
								
								3 762р.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo2.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							Maxler 100% Golden Whey
						</h3>
						<p class="food__desc">
							Комплекс 100% Gold Whey от Maxler сделан на основе разных форм сывороточного белка, которые помогут вам получать наилучшие результаты во время тренировочных сессий. Он быстро усваивается и в полном объеме, мгновенно насыщая ваши мышцы ценными нутриентами. Это важно в первую очередь для периода интенсивных тренировок, когда организм нуждается в белке для поддержания положительного азотистого баланса и восстановления и роста мышц.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								28 порций
							</div>
							<div class="food__price yellow ml-auto">
								
								1 699р.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo3.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							Optimum Nutrition 100% Whey Gold Standard
						</h3>
						<p class="food__desc">
							100% Whey Gold Standard неоднократно получал награды Добавка года и Протеин Года. С самого начала появления 100% Whey Gold Standard сразу же был взят за эталон сывороточного протеина. Сейчас же Optimum Nutrition представляет уже третье поколение протеина! Каждая порция Optimum Nutrition 100% Whey Gold Standard дает вам именно то, что вам нужно: чистейший сывороточный протеин, минимум жиров, минимум холестерина и лактозы.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								77
							</div>
							<div class="food__price yellow ml-auto">
								
								4 608р.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo4.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							Core Series Whey
						</h3>
						<p class="food__desc">
							Протеин Core Series Whey от Mutant поможет вам получать максимум выгоды от потребляемого белка. Содержащиеся в нем разные виды сывороточного белка, а всего их четыре, за счет особых способов производства усваиваются в максимально возможном объеме. В итоге ваш организм сможет извлекать максимум выгоды из поступающего в него строительного материала. Каждый из белков в его составе обладает полным аминокислотным профилем, а также богат BCAA и глютамином, играющими важную роль в восстановлении организма и борьбе с катаболическими процессами. С каждой порцией вы получите 22 г белка, из которых 8,5 г приходятся на BCAA и глютамин. За счет данного протеина вы поддержите оптимальный рост мышц, не допустите развития катаболизма, а также ускорите восстановительный период организма после тренировок.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								61 порций
							</div>
							<div class="food__price yellow ml-auto">
								
								3 154р.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo5.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							FIT KIT Protein Cake
						</h3>
						<p class="food__desc">
							Протеиновое печенье Protein Cake от FIT KIT не простое лакомство, обещающее многочисленные преимущества от потребления белка. Это 3-х слойное печенье, утоляющее голод, одновременно доставляющее массу удовольствия от невероятных вкусовых качеств. Белковая основа печенья покрыта нежным белковым суфле. И все это покрыто слоем протеиновой глазури с шоколадом. Причем в составе суфле нет сахара. Белковая основа печенья – сывороточный и молочный протеины.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								1 порция
							</div>
							<div class="food__price yellow ml-auto">
								
								99р.
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="food">
						<img src="img/photo6.jpg" alt="Dish 1" class="food__img img-fluid">
						<h3 class="food__title">
							Chikabar
						</h3>
						<p class="food__desc">
							Протеиновые батончики Chikabar от Chikalab – это то, чем можно смело перекусывать в любое время дня и при этом не бояться за свою фигуру. Ведь делают их на основе разных видов белка, который насыщает и идет на нужды мышц. Содержащиеся в составе батончиков пищевые волокна также утоляют голод надолго и при этом стимулируют кишечную функцию. В одном батончике весом 60г содержится 15 грамм белка и 12 грамм клетчатки, причем в составе нет никаких добавленных простых сахаров.
						</p>
						<div class="food__details d-flex">
							<div class="food__del">
								Порций
								<span>
									Цена
								</span>
							</div>
							<div class="food__phone">
								1 порция
							</div>
							<div class="food__price yellow ml-auto">
								120р.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	
    </div>
    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Контакты </h3>
                    <div class="contacts-text">
                        <p><strong>Адрес магазина</strong><br>
                            г. Москва Ул. Рословка 6.1
                            Как добраться
                        </p>
                        <p>
                            <strong>Часы работы</strong><br>
                                Пн-Пт - с 8:00 до 20:00<br>
                                Суббота - с 10:00 до 20:00<br>
                                Воскресенье - выходной<br>
                        </p>
                        <p><strong>Контактная информация</strong><br>
                            +7 926 791 99 89<br>
                            tixon7919989@mail.ru
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 contacts-image">
                </div>
            </div>
            <section class="footer">
                <h2><strong> Разработка сайта : </strong></h2>
                <h4>Фирсенков Тихон </h4>
            </section>
        </div>
    </div>
    <footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="socials d-flex justify-content-center">
						<li class="socials__item socials__item_fb">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_tw">
							<a href="#"></a>
						</li>
						<li class="socials__item socials__item_g">
							<a href="#"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
				<div class="col-lg-4">
					<div class="credits">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="line"></div>
				</div>
			</div>
		</div>
	</footer>
	<div class="popup">
        <div class="popup-dialog"><!--Само белое окно-->
            <div class="popup-content"><!--Внутренний контент-->
                <button class=" popup-close"></button>
                <h4 class="popup-title">
                    Заинтересовало?
                </h4>
                <p class="popup-text">
                    Оставьте свои контактные данные <br> для связи
                </p>
                <div class=" order-form ">
                    <form  action="#">
                        <label for="name">Имя   </label>
                        <input id="name" type="text"><br>
                        <label for="mail">Почта </label>
                        <input id="mail" type="text"><br>
                        <label for="phone">Телефон</label>
                        <input id="phone" type="text">
                        <button class="button btn popup-btn ">Отправить </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	    
<script>
$(document).ready(function(){
    $('.order-btn').on('click',function(event) {
        $('.popup').fadeIn();
    });
    $('.popup-close').on('click',function(event) {
        $('.popup').fadeOut();
    });
    $('.popup-btn').on('click',function(event) {
        $('.popup').fadeOut();
    });
});
</script>
</body>
</html>